<div>
  <div>
    <h1>
      <%= @the_user.username %>
    </h1>

    <dl>
      <dt>
        Private
      </dt>
      <dd>
        <%= @the_user.private %>
      </dd>

      <dt>
        Followers
      </dt>
      <dd>
        <%= @follower_num %>
        <div>
        <% if current_user.id != @the_user.id %>
          <% follow = FollowRequest.where({:sender_id => current_user.id, :recipient_id => @the_user.id}).at(0) %>
          <% if follow != nil %>
            <!-- UnFollow -->
            <a href="/delete_follow_request/<%= follow.id %>">Unfollow</a>
          <% else %>
            <!-- Follow Button -->
            <form action="/insert_follow_request" method="post">
              <input type="hidden" name="query_recipient_id" value="<%= @the_user.id %>">
              <input type="hidden" name="query_sender_id" value="<%= current_user.id %>">
              <% if @the_user.private %>
                <input type="hidden" name="query_status" value="pending">
              <% else %>
                <input type="hidden" name="query_status" value="accepted">
              <% end %>

              <button>
                Follow
              </button>
            </form>
          <% end %>
        <% else %>
          <h4> Pending follow requests </h4>
          <ul>
            <% pending = FollowRequest.where({ :recipient_id => current_user.id, :status => "pending"}) %>
            <% pending.each do |request| %>
              <li>
                <% follower_user = User.where({:id => request.sender_id }).at(0) %>
                <%= follower_user.username %>
                <form action="/modify_follow_request/<%= request.id %>" method="post">
                  <input name="query_status" value="accepted" type="hidden">
                  <input type="hidden" name="query_sender_id" value="<%= follower_user.id %>">
                  <input type="hidden" name="query_recipient_id" value="<%= current_user.id %>">


                  <button>
                    Accept
                  </button>
                </form>
                <form action="/modify_follow_request/<%= request.id %>" method="post">
                  <input name="query_status" value="rejected" type="hidden">
                  <input type="hidden" name="query_sender_id" value="<%= follower_user.id %>">
                  <input type="hidden" name="query_recipient_id" value="<%= current_user.id %>">
                
                  <button>
                    Reject
                  </button>
                </form>

              </li>
            <% end %>
          </ul>
        <% end %>
        <!--<a href="/delete_follow_request/<%#= @the_user.username %>"> Unfollow </a>-->
        </div>
      </dd>

      <dt>
        Following
      </dt>
      <dd>
        <%= @following_num %>
      </dd>
      
    </dl>
  </div>
</div>

<div>
  <ul>
    <li>
      <a href="/users/<%= @the_user.username %>"> Profile </a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/liked_photos"> Liked photos </a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/feed"> Feed </a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/discover"> Discover </a>
    </li>
  </ul>

</div>

<div>
  <h2> Own photos (<%= @photo_num %>)</h2>
  <table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
      Likes
    </th>

    <td>
    </td>
  </tr>

  <% @list_of_photos.each do |a_photo| %>

    <tr>
      <td>
        <img src="<%= a_photo.image %>" height="300px">
      </td>

      <td>
        <%= a_photo.poster.username %>
      </td>

      <td>
        <%= a_photo.caption %>
      </td>

      <td>
        <%= time_ago_in_words(a_photo.created_at) %> ago
      </td>

      <td>
        <%= a_photo.likes_count %>
      </td>

      <td>
        <a href="/photos/<%= a_photo.id %>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
  </table>

</div>
